*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#fff, #F4F8FB);
}

:root 
{
    --box-width: 300px;
    --box-height: 400px;
    --box-border-radius: 20px;
    --box-margin: 40px;
    --box-bg-color-1: rgba(0, 3, 48, 1);
    --box-bg-color-2: rgba(24, 119, 242, 1);  
}

.container 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
    gap: var(--box-margin);
}

.container .box 
{
    position: relative;
    width: var(--box-width);
    height: var(--box-height);
    border-radius: var(--box-border-radius);
    transform-style: preserve-3d;
}

.box-1 
{
    background: var(--box-bg-color-1);
}

.box-2
{
    background: var(--box-bg-color-2);
}

.container .box .name 
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,100px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

.container .box:hover .name
{
    top: 40px;
    opacity: 1;
}

.container .box .select 
{
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform-style: preserve-3d;
   color: #fff;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(5px);
   padding: 20px 25px;
   border-radius: 30px;
   text-decoration: none;
   transition: 0.5s;
   transform: translate3d(-50%,0,60px);
   width: 150px;
   font-weight: 500;
   text-align: center;
   z-index: 10;
}

.container .box .image
{
    position: absolute;
    top: 37%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0);
    max-width: 300px;
    transition: 0.5s;
}

.container .box:hover .image 
{
    transform: translate3d(-50%,-50%,80px);
}